{% extends 'base.html' %}


{% block title %}Гостевая Книга{% endblock %}
{% block menu %}
    <nav class="navbar navbar-dark bg-dark">
        <form class="form-inline ml-auto" method="GET" action="{% url 'record_search' %}">
            {% load widget_tweaks %}
            {%  csrf_token %}
            {{ search.search_text|add_class:'form-control mr-sm-2'}}
            <button class="btn btn-warning my-2 my-sm-0" type="submit">Найти</button>
        </form>
    </nav>
{% endblock %}
{% block content %}
    <h1 class="text-center mt-5 mb-5">Добро пожаловать в гостевую книгу!</h1>
    <div class="row justify-content-center pb-3">
        <a href="{% url 'record_add' %}" class = 'btn btn-outline-dark'><i class="fas fa-pen-nib"></i>Добавить запись</a>
    </div>
    <div class = 'row justify-content-center'>
        {% for record in records %}
            <div class="card text-white bg-dark mb-3" style="width: 75%;">
                <div class="card-header">
                    <h5 class="card-title mb-0">{{ record.author}}</h5>
                </div>
                <div class="card-body">

                    <h6 class="card-subtitle mb-2 text-muted">{{ record.author_email }}</h6>
                    <p class="card-text">{{ record.text|escape|linebreaks }}</p>
                    <div class="btn-group">
                        <a href="{% url 'record_edit' record.pk %}" class="btn btn-light card-link"><i class="fas fa-edit"></i> Обновить запись</a>
                        <a href="{% url 'record_delete' record.pk %}" class="btn btn-light card-link"><i class="far fa-trash-alt"></i> Удалить запись</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}